<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let error of errores">{{ error }}</li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

<!-- <form (ngSubmit) = "create()"> directiva para hacer submit en formulario -->
<form #clientesForm="ngForm">
<div class="form-group row">
<label for="nombre" class="col-form-label col-sm-2">Nombre</label>

<div class="col-sm-6">
  <!-- Se agrega valiable #nombre y se debe asignar al objeto ngModel para realizar las validaciones -->
  <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre" #nombre="ngModel"> <!-- required="true" minlength="4" -->
  <!-- dirty (propiedad para que aparezca mensaje mientras escribo en el input)- tuuched (propiedad para que aparezca mensaje cuando saco el focoi del input) -->
  <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
    <div *ngIf="nombre.errors.required">Nombre es requerido</div>
    <div *ngIf="nombre.errors.minlength">Nombre debe tener al menos 4 caracteres</div>
  </div>
</div>
</div>

<div class="form-group row">
<label for="apellido" class="col-form-label col-sm-2">Apellido</label>

<div class="col-sm-6">
  <input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido" #apellido="ngModel"> <!-- required="true" minlength="4" -->
  <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
    <div *ngIf="apellido.errors.required">Apellido es requerido</div>
    <div *ngIf="apellido.errors.minlength">Apellido debe tener al menos 4 caracteres</div>
  </div>
</div>
</div>

<div class="form-group row">
<label for="email" class="col-form-label col-sm-2">Email</label>

<div class="col-sm-6">
  <!-- email le dice al input que es del tipo email y realiza validaciones automaticamente -->
  <input type="text" class="form-control" name="email" [(ngModel)]="cliente.email" #email="ngModel"> <!-- required="true" email -->
  <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
    <div *ngIf="email.errors.required">Email es requerido</div>
    <div *ngIf="email.errors.email">Email debe tener un formato valido</div>
  </div>
</div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else mostrarBtnEditar" [disabled]="!clientesForm.form.valid">Crear Cliente</button>

<!-- ng-template sirve para mostrar bloques de codigo bajo una condicion -->
    <ng-template #mostrarBtnEditar>
      <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clientesForm.form.valid">Editar Cliente</button>
    </ng-template>
  </div>
</div>
</form>


</div>
</div>
